{% extends "base.html" %}
{% load static %}
{% block title %}CodingClash: Submission History{% endblock %}
{% block head %}
    <script>
        const game_data = {{games|safe}};
        const team_list = {{teams|safe}};
        let team_lowercase = [];
    </script>
    <link rel="stylesheet" href="{% static 'css/table.css' %}">
    <script src="{% static 'js/util.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/history.js' %}" type="text/javascript"></script>
{% endblock %}

{% block main %}

<div>
    <h1 class="pb-4">Scrimmages</h1>

    <form class="mb-4 form-inline" action="#    " onsubmit="search();">
        <h5 class>Search Team:</h5>
        <div class="form-group mx-sm-3 mb-2">
            <input list="searchOptions" class="form-control" id="searchBox" placeholder="Team Name">
            <datalist id="searchOptions"></datalist>
        </div>
        <button type="submit" class="btn btn-primary mb-2">Search</button>
    </form>
    <div id="playBlock" class="d-none mb-4">
        <button class="btn btn-danger" onclick="requestScrim();">Request scrimmage against <span id="oppName"></span></button>
    </div>


    <table id="table"></table>

</div>

{% endblock %}