{% extends base_template_name %}
{% block title %}CodingClash: Team Info{% endblock %}
{% block main %}
<div class="card">
    <div class="header">
        <h4 class="title">Team Info</h4>
    </div>
    <div class="content">
        <label>Team Name (static): </label>
        <input type="text" value={{ name }} style="cursor: not-allowed" readonly disabled>
        <br>
        <label>Secret Key (static): </label>
        <input type="text" value={{ secret }} style="cursor: not-allowed" readonly disabled>
        <br>
        <label>Players (static): </label>
        <input type="text" value={{ players }} style="cursor: not-allowed" readonly disabled>
        <br>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-primary mb-2" type="submit" style="border-color: transparent; background-color:red">Leave Team</button>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="header">
                <h4 class="title">ELO Rating</h4>
            </div>
            <div class="content">
                <p>{{ elo }}</p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="header">
                <h4 class="title">Ranking</h4>
            </div>
            <div class="content">
                <p>{{ rank }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
