{% extends base_template_name %}
{% block title %}CodingClash: Contact{% endblock %}
{% block main %}

<body>
    <div>
        <h2>Overview</h2>
        <p>CodingClash is a competition where participants attempt to design the best AI to play a simple game.
        <br>The game involves various types of game pieces, each individually running the code you write.
        <br>This competition was inspired by <a href="https://www.battlecode.org/" style="color: #0000FF">MIT Battlecode</a>, make sure to check them!</p>
    </div>

    <br>

    <div>
        <h2>Discord</h2>
        <p>We highly recommend you join the Discord group at <b>post discord link here.</b>
            <br>You can use Discord to discuss strategies with others and contact us if you have any questions</p>
    </div>

    <br>

    <div>
        <h2>Teh Devs</h2>
        <p>All of us are juniors at TJHSST and this is our first time creating a competition like this. We hope you like it!</p>
        <li>Anup Bagali - The backend guy</li>
        <li>Srikar Gouru - The engine guy</li>
        <li>Ayush Rautwar - The frontend guy</li>
        <br>
    </div>

    <br>

    <div>
        <h2>Our Sponsors</h2>
        <p>CodingClash would not be possible without our generous sponsors who we don't have yet. Smh ayush send some emails.</p>
    </div>

</body>


{% endblock %}
