{% extends base_template_name %}
{% block title %}CodingClash: Contact{% endblock %}
{% block main %}

<div class="card">
    <div class="header">
        <h4 class="title">Overview</h4>
    </div>
    <div class="content">
        <p>CodingClash is a competition where participants attempt to design the best AI to play a simple game. The game involves various types of game pieces, each individually running the code you write. This competition was inspired by <a href="https://www.battlecode.org/" style="color: #0000FF">MIT Battlecode</a>, make sure to check them!</p>
    </div>
</div>

<div class="card">
    <div class="header">
        <h4 class="title">Discord</h4>
    </div>
    <div class="content">
        <p>We highly recommend you join the Discord group at <b>post discord link here. </b>You can use Discord to discuss strategies with others and contact us if you have any questions!</p>
    </div>
</div>

<div class="card">
    <div class="header">
        <h4 class="title">Teh Devs</h4>
    </div>
    <div class="content">
        <p>All of us are juniors at TJHSST and this is our first time creating a competition like this. We hope you like it!</p>
        <li>Anup Bagali - The backend guy</li>
        <li>Srikar Gouru - The engine guy</li>
        <li>Ayush Rautwar - The frontend guy</li>
        <li>Aryan Chinnala - The new guy</li>
    </div>
</div>

<div class="card">
    <div class="header">
        <h4 class="title">Our Sponsors</h4>
    </div>
    <div class="content">
        <p>CodingClash would not be possible without our generous sponsors who we don't have yet. Smh ayush send some emails.</p>
    </div>
</div>


{% endblock %}
