{% extends "base.html" %}
{% load static %}
{% block title %}CodingClash: Leaderboard{% endblock %}
{% block head %}
    <script>const leaderboard_data = {{teams|safe}};</script>
    <link rel="stylesheet" href="{% static 'css/table.css' %}">
    <script src="{% static 'js/leaderboard.js' %}" type="text/javascript"></script>
{% endblock %}

{% block main %}
<div>
    <h1 class="pb-4">Leaderboard</h1>

    <form class="mb-5 form-inline" action="" onsubmit="search();">
        <div class="form-group mx-sm-3 mb-2">
            <input list="searchOptions" class="form-control" id="searchBox" placeholder="Team Name">
            <datalist id="searchOptions"></datalist>
        </div>
        <button type="submit" class="btn btn-primary mb-2">Search</button>
    </form>


    <table id="table"></table>

    <div id="buttons" class="btn-group pt-4"></div>
</div>


{% endblock %}