{% extends base_template_name %}
{% block title %}CodingClash: Rules{% endblock %}
{% block main %}


<div class="card">
    <div class="header">
        <h4 class="title">Game Description</h4>
    </div>
    <div class="content">
        <p>Someone write a good game description</p>
    </div>
</div>

<div class="card">
    <div class="header">
        <h4 class="title">Initial Setup</h4>
    </div>
    <div class="content">
        <p>The engine is written in Python and has been thoroughly tested with Python 3.8. Download the Scaffold at <b>link to scaffold</b>!</p>
    </div>
</div>


{% endblock %}
